<form>
<table class="table" style="width:35%">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Movie length</th>
    <th scope="col">Director</th>
    <th scope="col">Ratting</th>
  </tr>
  <tr>
    <td scope="row"><%= movie.title %></td>
    <td scope="row"><%= movie.description %></td>
    <td scope="row"><%= movie.movie_length %></td>
    <td scope="row"><%= movie.ratting %></td>
  </tr>
</table>
</form>

