<h1 style="color:whitesmoke;">Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<button type="button" class="btn btn-outline-secondary">
  <%= link_to "Show this movie", @movie %> |
  <%= link_to "Back to movies", movies_path %>
</button>
