<h1 style="color: whitesmoke;">New movie</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <button type="button" class="btn btn-secondary" style="background-color:black;"><%= link_to "Back to movies", movies_path %></button>
</div>
  