<h1 style="color:whitesmoke;">Editing review</h1>
  
<%= render "form", review: @review %>

<br>

<button style="background-color: black;">
  <%= link_to "Show this review", @review %> |
  <%= link_to "Back to reviews", reviews_path %>
</button>
