<p style="color: green"><%= notice %></p>

<h1 style="color:whitesmoke;">Reviews</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <%= render review %>
    <button style="background-color:black;">
      <%= link_to "Show this review", review %>
    </button>
  <% end %>
</div>
<button style="background-color:black;">
<%= link_to "New review", new_review_path %>
</button>